/* top bar container */
.container-bar {
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
   /* background-color: rgba(159, 236, 255, 0.87); */
}

a {
    color:rgba(0, 0, 0, .8);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.gm {
    display: inline-block;
    padding-right: 10px;
}

.im {
    display: inline-block;
    padding-right: 20px;
}

.squares {
    display: inline-block;
    padding-right: 15px;
}

.sq-img {
    display: inline-block;
    background-image: url("apps-icon.png");
    background-size: 100%;
    vertical-align: middle;
    height: 15px;
    width: 15px;
}

.user {
    display: inline-block;
}

.user-img {
    display: inline-block;
    background-image: url("user-icon.png");
    background-size: 100%;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

.content {
    clear: right;
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    top: 140px;
   /* background-color: rgba(255, 148, 136, 0.719); */
}

.goo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.sb {
    display: block;
    margin: auto;
    margin-top: 30px;
}

input[type=text] {
    width: 480px;
    height: 44px;
    border: 1px solid rgb(163, 161, 161);
    box-shadow: none;
    border-radius: 24px;
    border-width: thin;
    background-image: url("search-icon.png"), url("mic-icon.jpg");
    background-size:3%, 5%;
    background-position: 20px 16px, 435px 11px;
    background-repeat: no-repeat;
    
}

.botns {
    position: relative;
    margin: auto;
    width: fit-content;
   /* background-color: slateblue; */ 
}

.go-se {
    position: relative;
    display: inline-block;
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
}

.i-am {
    position: relative;
    display: inline-block;
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
}

.sentence {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    margin-top: 160px;
}

.country {
    text-decoration: none;
    color: rgb(0, 0, 194);
}

.mex {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    bottom: 36px;
    width: 100%;
    overflow: hidden;
    color: rgba(0,0,0,.54);
    background-color: rgb(242, 242, 242);
    border-top: 1px solid rgb(228, 228, 228);
    float: left;
    display: block;
    padding: 10px 0 10px 30px;
    text-decoration: none;
    color: rgb(95, 99, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

ul {
    position: fixed;
    margin: 0 auto;                      /* understain why?? */
    padding: 0;                     /* understain why?? */
    bottom: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    color: rgba(0,0,0,.54);
    background-color: rgb(242, 242, 242);
    border-top: 1px solid rgb(228, 228, 228);
    
}



.ad, .bu, .ab, .hsw {
    float: left;
}

.pr, .te, .se{
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    color: rgb(95, 99, 104);
}

.r-side {
    position: relative;
    display: block;
    padding-right: 30px;
}
.l-side {
    position: relative;
    display: block;
    padding-left: 20px;
}
